.admin_page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 30px;
  flex-direction: column;
  margin: 10px;
}

.admin_caution {
  display: flex;
  background-color: var(--primary);
  padding: 15px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px gray;
  font-size: large;
}

.admin_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  margin-top: 5%;
  padding: 5%;
  background-color: var(--background-primary);
  border-radius: 10px;
  box-shadow: 0 0 10px 1px gray;
  color: var(--primary);
}
.admin_card > .MuiSvgIcon-root {
  zoom: 4;
  padding: 5px;
  border-bottom: 1px solid var(--secondary);
}
.admin_card:hover {
  box-shadow: 0 0 10px 1px var(--secondary);
}

.admin_card > h1 {
  display: flex;
  cursor: pointer;
  padding: 15px;
  margin: 10%;
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
  font-weight: bolder;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  animation: loading 0.8s linear;
}
.admin_card > h1:hover {
  background-color: var(--background-primary);
  color: var(--secondary);
  border-radius: 1px;
}

@media screen and (max-width: 600px) {
  .admin_card > .MuiSvgIcon-root {
    zoom: 3;
  }
  .admin_card > h1 {
    font-size: small;
  }
  .admin_card {
  }
}
