.contacts_body {
  padding: 10px 10px 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contacts_description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--primary);
  margin-left: 10%;
  margin-right: 10%;
  animation: loading ease-in 0.5s;
}

.contacts_description > p {
  color: rgb(70, 69, 69);
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.contacts_container {
  width: 65%;
  border-radius: 16px;
  overflow: hidden;
  padding: 8px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  background: whitesmoke;
  box-shadow: 0 0 5px 1px;
  opacity: 0;
  animation: loading2 ease-in forwards 0.3s;
}
.contacts_companyInfo {
  background-color: var(--primary);
  border-radius: 16px;
  flex: 0 1 35%;
  padding: 35px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contacts_companyInfo > h4 {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  margin: 0;
}
.contacts_companyInfo > p {
  font-size: 1.25rem;
  display: flex;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  margin-bottom: 10%;
}
.icon_text {
  display: flex;
  padding: 3% 0 3% 0;
  justify-content: flex-start;
  align-items: center;
}
.icon_text > .MuiSvgIcon-root {
  flex: 0 0 35px;
  display: flex;
  font-size: 2.2rem;
  margin-right: 2rem;
  color: white;
}
.icon_text > span {
  font-size: 1.25rem;
  word-wrap: break-word;
  font-weight: 350;
}
.online_media {
  display: flex;
  padding-top: 15%;
  justify-content: left;
}
.online_media > .icon_shape {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  transition: 0.5s all ease-in-out;
  background: #b1161b;
  padding: 5px;
  overflow-y: hidden;

  margin-left: 10px;
}
.online_media > .icon_shape:hover {
  background: var(--secondary);
}
.icon_shape > .MuiSvgIcon-root {
  color: white;
  display: flex;
  font-size: 2.2rem;
}
.contacts_FormContainer {
  display: flex;
  flex: 0 1 65%;
}
form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
}
.col2 {
  display: flex;
  overflow-y: hidden;
}
.form_group {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 0 1 100%;
  padding-right: 30px;
}
.form_group:nth-child(2) {
  padding-right: 0;
}
.form_group.solo {
  padding: 0;
}
.form_group > label {
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
}
.form_group > input[type='text'],
.form_group > input[type='tel'],
.form_group > input[type='email'] {
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--primary);
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: 300;
  transition: 0.3s all ease-in-out;
  margin-bottom: 1.8rem;
}

.form_group > textarea {
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--primary);
  cursor: pointer;
  height: 120px;
  border-radius: 4px;
  margin-top: 4px;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 400;
  transition: 0.3s all ease-in-out;
  margin-bottom: 1.5rem;
}
.form_group > input[type='text']:focus,
.form_group > input[type='tel']:focus,
.form_group > input[type='email']:focus,
.form_group > textarea:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid lightskyblue;
  cursor: text;
}
.form_group > input[type='text']::placeholder,
.form_group > input[type='tel']::placeholder,
.form_group > input[type='email']::placeholder,
.form_group > textarea::placeholder {
  color: rgb(155, 155, 155);
}

.radio_buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.radio_button {
  margin-right: 15px;
}
.radio_button > input {
  cursor: pointer;
}
.radio_button > label {
  padding-left: 10px;
  font-size: 1.1rem;
  cursor: pointer;
}
.combo_container {
  display: flex;
  justify-content: center;
}
.combo_box {
  display: flex;
  opacity: 0;
  animation: loading2 ease-in forwards 0.55s;
  margin-bottom: 1.5rem;
}
.combo_box > .selectBox {
  margin: 0 3rem 0 3rem;
  width: 12rem;
  overflow-y: hidden;
  min-width: 200px;
}
.valError {
  color: var(--primary);
  margin: 2%;
}
.recaptcha > div > div {
  overflow-y: hidden;
}
.form_group.submit {
  align-items: flex-end;
}
.form_group > button {
  display: flex;
  cursor: pointer;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary);
  color: white;
  font-weight: bolder;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
}
.form_group > button:hover {
  background-color: var(--background-primary);
  color: var(--secondary);
  border-radius: 10px;
  transform: scale(1.08);
}
.MuiFormControl-root > * {
  overflow-y: hidden;
}

@media screen and (max-width: 995px) {
  .contacts_container {
    flex-direction: column;
  }

  .contacts_FormContainer {
    height: 40%;
  }
  .contacts_companyInfo > *,
  .icon_text > *,
  .contacts_body > *,
  .online_media > * {
    font-size: medium !important;
  }

  .icon_shape > .MuiSvgIcon-root {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 599px) {
  .contacts_FormContainer {
    height: 40%;
  }
  .col2 {
    flex-wrap: wrap;
  }

  .contacts_companyInfo > *,
  .icon_text > *,
  .contacts_body > *,
  .online_media > * {
    font-size: small !important;
  }
  .icon_shape > .MuiSvgIcon-root {
    font-size: 1rem;
  }
  .combo_box > .selectBox {
    margin: 0 1.2rem 0 1.2rem;
  }
  .recaptcha {
    transform: scale(0.77);
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .icon_shape {
    height: 10px;
  }
  .icon_shape > .MuiSvgIcon-root {
    font-size: 0.8rem;
  }
  .recaptcha {
    transform: scale(0.77);
    width: 100%;
    border-right: 1px solid lightgray;
  }
}
