.footer_container {
  display: flex;
  background-color: var(--secondary) !important;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  color: aliceblue !important;
  cursor: pointer;
  border-top: 1.5px solid var(--primary);
  flex-wrap: wrap;
  z-index: 100;
  position: absolute;
  bottom: 100;
  width: 100%;
}
.footer_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 200px;
  transition: transform 0.2s;
}
.footer_grid > h5 {
  display: flex;
  font-size: medium;
}
.footer_grid > h4 {
  background-color: var(--background-primary);
  padding: 5px;
  text-align: center;
  border-radius: 20px;
}
.footer_grid > p {
  font-size: small;
}
.footer_grid > img {
  object-fit: contain;
  width: 70%;
}
.footer_grid:hover {
  transform: scale(1.1);
  background-color: rgba(240, 248, 255, 0.055);
}

.footer_container > p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 708px) {
}
