.navigation_container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding-right: 5px;
  margin-right: 5px;
  justify-content: center;
}
.navigation_list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  flex-wrap: nowrap;
}

.navigation_list > h4 {
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  transition: transform 0.3s;
}
.navigation_list > h4:hover {
  transform: scale(1.2);
  color: #0a6d8a;
  padding: 5px;
  background-color: whitesmoke;
}
