.homeheadtext_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: larger;
  transition: transform 0.4s;
  padding: 10px;
}
.homeheadtext_container > p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeheadtext_container:hover {
  transform: scale(1.2);
  background-color: rgba(247, 3, 3, 0.041);
  border-radius: 10px;
}
.homeheadtext_container > p > h2 {
}
