.home_service_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--primary);
  margin-left: 10%;
  margin-right: 10%;
}
.home_service_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5% 10%;
  padding: 2%;
  height: 200px;
  width: 200px;
  transition: transform 0.5s;
}

.home_service_item > .MuiSvgIcon-root {
  zoom: 4;
  border-bottom: 0.5px solid var(--secondary);
}
.home_service_item:hover {
  cursor: pointer;
  color: var(--secondary);
  background-color: var(--background-primary);
  transform: scale(1.3);
  border-radius: 10px;
  box-shadow: 0 0 5px 1px var(--secondary);
}
