.home_service_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home_service_item {
  color: #c52126;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  width: 50%;
  margin: 20px 100px 20px 100px;
  transition: transform 0.4s;
  cursor: pointer;
}

.home_service_item > .MuiSvgIcon-root {
  zoom: 4;
  border-bottom: 0.5px solid #0b9ecc;
}
.home_service_item:hover {
  color: #0b9ecc;
  background-color: #c1040e17;
  transform: scale(1.3);
  border-radius: 10px;
}
