.homeheadtext_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: larger;
  transition: transform 0.4s;
  padding: 10px;
}
.homeheadtext_container > p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeheadtext_container > p > h2 {
}
