.home_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.home_text {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}
<<<<<<< HEAD
.home_servivces {
  font-size: 36px;
=======

.home_services {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
>>>>>>> c00e8b06bc8c25b6167ad20861b1023bba5833ea
}
