.about_bioHead > h2 {
  margin-top: 10%;
  margin-bottom: 10%;
  animation: loading 1s linear;
  border-top: 1px solid var(--secondary);
}
.about_bioHead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary);
  margin-bottom: 5%;
  font-size: larger;
}

.about_bioHead > img {
  transform: translateY(-100%);
  animation: loading2 0.8s forwards linear;
  animation-delay: 0.2s;
}

.about_bioDescription {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.about_bioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
