.about_bios {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--primary);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  justify-content: space-around;
  animation: loading2 0.8s linear;
}

.about_individuals:hover {
  color: var(--secondary);
  background-color: var(--background-primary);
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0 0 5px 1px var(--secondary);
}

.about_individuals {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
  height: 200px;
  width: 200px;
  text-align: center;
  transition: transform 0.5s;
}

.about_individuals > img {
  height: 100px;
  object-fit: contain;
  display: flex;
  border-bottom: 2px solid var(--secondary);

  padding-bottom: 5px;
  image-rendering: pixelated;
  opacity: 0;
  animation: loading3 1s linear forwards;
  animation-delay: 0.8s;
}

.about_description {
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about_description > h1 {
  margin-bottom: 1%;
  color: var(--primary);
}

.about_quotes {
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 1%;
}

.about_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about_quotes {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: var(--primary);
}
